/* ---------------------------COMMON RULES---------------------------*/

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: black;
  color: white;
  font-family: "InspireTWDC";
}
h1 {
  font-size: 20px;
  line-height: 40px;
  color: #f3e0cf;
  font-family: "Roboto", serif;
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
/* main img {
  width: 200px;
  object-fit: contain;
} */

a {
  color: white;
  text-decoration: none;
}
.loading {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: 200px auto;
  gap: 30px;
}
.loading {
  height: 300px;
  width: 300px;
  position: fixed;

  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
/* --------------------------- HEADER ---------------------------*/

header {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.logo {
  height: 100px;
  border-radius: 2px;
}

header .container {
  /* border: white 1px dotted; */
  display: flex;
  justify-content: center;
  max-width: 1280px;
  margin: 0px auto;
  align-items: center;
  border-bottom: #c6cacb 1px solid;
}

.container-menu {
  /* border: green 6px dotted; */
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  align-items: center;
}
.menu {
  display: flex;
  flex: 1;
  /* background-color: orange; */
  gap: 30px;
}
.login-signup {
  display: flex;
  gap: 30px;
  /* background-color: pink; */
}

.avengers {
  width: 40px;
}
header button {
  height: 50px;
  font-weight: 600;
  font-size: 15px;
  /* border: white 2px solid; */
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
  letter-spacing: 2px;
}
/* --------------------------- HOMEPAGE ---------------------------*/
.home-container {
  width: auto;
  height: auto;
  display: flex;
  margin: 100px auto;
  align-items: center;
}
.home-container img {
  object-fit: cover;
  width: 100%;
  height: 600px;
  display: flex;
}

/* --------------------------- CHARACTERS ---------------------------*/
.container-characters {
  /* background-color: green; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1300px;
  margin: 20px auto;
  line-height: 20px;
  gap: 10px;
}
.character-1 {
  width: 200px;
  display: flex;
  padding: 20px;
  /* border: #c6cacb 5px solid; */
  overflow: scroll;
  border-radius: 200px 200px 20px 20px;
}
.character {
  /* padding: 20px 0; */
  /* border: #c6cacb 1px solid; */
  border-radius: 30px;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  position: relative;
}

.star-icon {
  font-size: 25px;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  /* border: white 1px solid;
  border-radius: 50px; */
}
.characters-images {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.character img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search input {
  width: 1200px;
  padding: 10px 5px;
  background-color: #fcf9f9;
  /* border: 1px solid #ff111a; */
  margin: 10px 0;
  border-radius: 5px;
  font-size: 15px;
}

::placeholder {
  padding-left: 30px;
  color: #c6cacb;
  font-family: "InspireTWDC";
}

.character h1 {
  font-size: 15px;
  padding: 10px;
  color: #c6cacb;
  text-align: center;
}
.character p {
  font-size: 15px;
  text-align: justify;
}

.container-character {
  /* border: green 10px solid; */
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0px auto;
  line-height: 20px;
  gap: 30px;
}
.character-infos {
  display: flex;
  align-items: center;
  width: 1000px;
  /* background: orange; */
  padding: 20px;
  gap: 30px;
}
.character-infos img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.comics {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: scroll;
  justify-content: space-between;
  /* border: 2px solid pink; */
  gap: 40px;
}
.comics-infos {
  border: #c6cacb 5px solid;
  border-radius: 20px;
  padding: 30px;
  width: 500px;
  height: 500px;
}
.comics img {
  display: flex;
  width: 200px;
  height: 300px;
  border-radius: 20px;
  justify-content: center;
}
.comics-infos h1 {
  font-size: 15px;
}
.comics-infos p {
  font-size: 12px;
  text-align: justify;
  overflow-x: scroll;
}
.infos {
  overflow-x: scroll;
  /* border: 1px solid pink; */
  height: 200px;
}

/* --------------------------- COMICS ---------------------------*/

.container-comics {
  /* border: green 10px solid; */
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  line-height: 20px;
}

.container-comics-1 {
  /* border: pink 2px solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.container-comics-1 img {
  width: 200px;
}

.all-comics {
  /* border: 3px solid white;
   */
  padding: 10px;
  width: 200px;
  height: 500px;
  overflow-x: scroll;
  position: relative;
}

.all-comics h1 {
  font-size: 10px;
}
.all-comics p {
  font-size: 12px;
  text-align: justify;
}

/* --------------------------- COMIC ---------------------------*/
.container-comic {
  border: #ff111a 5px solid;
  border-radius: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  padding: 20px;
  margin: 20px auto;
  line-height: 20px;
}
.container-comic img {
  width: 400px;
  border-radius: 5px;
}

.container-comic p {
  text-align: justify;
}

.left {
  display: flex;
  justify-content: center;
  /* border: white 2px solid; */

  flex: 1;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* border: purple 2px solid; */
  flex: 1;
}
